* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  background: #0d0d0f !important;
  color: white !important;
}
a {
  text-decoration: none !important;
}
li {
  list-style: none;
}

.navbar {
  background-color: #161616 !important;
}

.card-body {
  padding: 5px !important;
}
